.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.jumbotron {
  background-image: url("https://i.ibb.co/qgFKStW/Winner-Dinner-Banner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 396px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.meals-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.meal-card-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 18rem;
  height: auto;
  border: 1px solid lavender;
  border-radius: 8px;
  padding: 30px;
  margin: 30px;
}

.recipe-image {
  width: 18rem;
  display: flex;
  justify-content: center;
}
